<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
      Uncomment if you're using Glassfish. JBoss 6.0.0.M1 doesn't yet support Servlet 3.0. This is anticipated to be
      fixed very soon.
   --><!--
      <web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://java.sun.com/xml/ns/javaee
      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   --><web-app 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="YourProjectName" version="3.0">
   <!-- Activate the JSF 2.0 servlet -->
   <servlet>
      <servlet-name>Faces Servlet</servlet-name>
      <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <!-- Tell the context which URLs to process as facelets.  -->
   <servlet-mapping>
      <servlet-name>Faces Servlet</servlet-name>
      <url-pattern>*.xhtml</url-pattern>
   </servlet-mapping>
    <context-param>
        <description>Development or Production</description>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value> 
    </context-param>

   <!-- This is an optional parameter, but it makes troubleshooting errors much easier.  -->
   <!-- You may want to delete it before final deployment -->
   <context-param>
      <param-name>facelets.DEVELOPMENT</param-name>
      <param-value>true</param-value>
   </context-param>

   <persistence-unit-ref>
      <persistence-unit-ref-name>swazam/myPu</persistence-unit-ref-name>
      <persistence-unit-name>myPu</persistence-unit-name>
   </persistence-unit-ref>
   
   <servlet>
        <servlet-name>Jersey Servlet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.tuwien.swalab2.services.rest</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Servlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>  
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

</web-app>
